    html{
      width: 2330px;
      height: 1332px;
      background-color: #BABABA;
    }
    body{
      position: relative;
      width: 1440px;
      height: 1000px;
      top: 166px;
      left: 118px;
      background-color: #ffffff;
    }
    body .Header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      padding-left: 70px;
      padding-bottom: 24px;
      padding-right: 70px;
      padding-top: 24px;
      width: 1440px;
      height: 64px;      
      background-color: #4B89DC;
    }
    .Header .text{
      width: 117px;
      height: 28px;
      font-weight: 700;
      font-size: 24px;
      font-family: "Roboto";
      color: #ffffff;
    }
    .lotto{
      width: 571px;
      height: 516px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      border-radius: 10px;
      background-color: #ffffff;
    }
    .abs{
      position: absolute;
      top: 96px;
      left: 434px;
    }
    .lotto .title{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 571px;
      height: 100px;
      padding-left: 182px;
      padding-bottom: 22px;
      padding-right: 182px;
      padding-top: 22px;
      border-radius: 10px 10px 0 0;
      gap: 9px;
      background-color: #4B89DC;
    }
    .lotto h1{
      width: 167px;
      height: 28px;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      font-family: "Roboto";
      color: #ffffff;
    }
    .lotto h2{
      width: 189px;
      height: 19px;
      margin: 0;
      font-size: 16px;
      font-weight: 400;
      font-family: "Roboto";
      color: #ffffff;
    }
    .lotto > .text{
      width: 110px;
      height: 21px;
      top: 123px;
      left: 20px;
      font-size: 18px;
      font-weight: 700;
      font-family: "Roboto";
      color: #000000;
    }
    .lotto > .frame{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 507px;
      height: 45px;
      top: 160px;
      left: 32px;
      gap: 32px;
    }
    .frame .ball{
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      border-radius: 22.5px;
      font-size: 20px;
      font-weight: 700;
      font-family: "Noto Sans KR";
      color: #ffffff;
    }
    #first{
      background-color: #FBC400;
    }
    #second{
      background-color: #69C8F2;
    }
    #third{
      background-color: #FF7272;
    }
    #fourth{
      background-color: #AAAAAA;
    }
    #fifth{
      background-color: #B0D840;
    }
    #sixth{
      background-color: #B49FFF;
    }
    #seventh{
      background-color: #FF7F48;
    }
    .star{
      width: 20px;
      height: 20px;
      top: 154px;
      left: 522px;
      background-image: url("/star.png");
    }
    .lotto > .button{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 531px;
      height: 40px;
      top: 230px;
      left: 20px;
      border-radius: 5px;
      background-color: #4B89DC;
    }
    .button .text{
      width: 92px;
      height: 19px;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      font-family: "Noto Sans KR";
      color: #ffffff;
    }
    .lotto_buy{
      width: 531px;
      height: 188px;
      top: 300px;
      left: 20px;
      border-top: 1px solid #EEEEEE;
    }
    .lotto_buy > .text{
      width: 113.22px;
      height: 20px;
      top: 23px;
      left: 0;
      font-size: 18px;
      font-weight: 700;
      font-family: "Roboto";
      color: #000000;
      line-height: 23px;
    }
    .lotto_buy .input{
      width: 531px;
      height: 37px;
      line-height: 37px;
      top: 60px;
      left: 0;
    }
    .lotto_buy label{
      width: 73.2px;
      height: 17px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Noto Sans KR";
      line-height: 17px;
      color: #000000;
    }
    .lotto_buy input{
      box-sizing: border-box;
      padding-left: 9px;
      width: 451px;
      height: 37px;
      top: 0;
      left: 80px;
      background-color: #FFFFFF;
      border-radius: 4px;
      border: 1px solid #DDDDDD;
      font-size: 13.3px;
      font-weight: 400;
      font-family: "Roboto";
      color: #8B8B8B;
      ;
    }
    .input+.text{
      width: 234.24px;
      height: 17px;
      line-height: 17px;
      top: 108px;
      font-size: 16px;
      font-weight: 400;
      font-family: "Noto Sans KR";
    }
    .lotto_buy > .button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 531px;
      height: 40px;
      top: 148px;
      left: 0;
      border-radius: 5px;
      background-color: #4B89DC;
    }